// Variables

$main-color: #eb648c;
$secondary-color: #3255b9;
$tertiary-color: rgba(17, 145, 244, 0.9);
$primary-purple: rgba(49, 24, 131, 0.9);
$secondary-purple: rgba(72, 56, 149, 0.8);

$light-color: #f4f4f4;
$dark-color: #333;

$landing-page-image: url('../img/cover.jpg');


// Country colors
// AUSTRALIA - gold? #FFCD00
$australia-primary-color: #fff;
$australia-secondary-color: #fff;

// DENMARK - definitely red elegiggle
$denmark-primary-color: #fff;
$denmark-secondary-color: #fff;

// KOREA 
$korea-primary-color: #fff;
$korea-secondary-color: #fff;