@import 'config';
@import 'utilities';

//!General Styles

* {
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Poppins', sans-serif;
	line-height: 1.6;
	background: $light-color;
}

a {
	text-decoration: none;
	color: $dark-color;
	cursor: pointer;
}

ul {
	list-style: none;
}

h1 {
	text-transform: uppercase;
	letter-spacing: 6px;
}

img {
	width: 100%;
}

// !Wave Animation (SVG)

@import 'wave';

//!Header

#header {
	//!Header Home

	&-home {
		background: linear-gradient(135deg, rgba(34, 78, 210, 0.55) 0%, rgba(72, 56, 149, 0.6) 90%),
			$landing-page-image no-repeat center right / cover;
		height: 100vh;
		color: $light-color;
		position: relative;

		//!Header Content
		.header-content {
			position: relative;
			text-align: center;
			padding-top: 20%;

			h1 {
				color: $main-color;
				font-size: 80px;
				line-height: 1.2;
				letter-spacing: 9px;
			}

			h4 {
				padding-top: 3rem;
				font-weight: 400;
				margin: 1rem 18rem;
				font-size: 28px;
				line-height: 1.9;
			}
		}
	}
}

//!Main-nav
#main-nav {
	background: rgba(50, 85, 185, 0.8);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.5rem 10% 1rem;
	// background-color: #333;
	color: $light-color;
	width: 80%;
	height: 60px;
	position: fixed;
	top: 0;
	z-index: 10;

	ul {
		display: flex;
	}

	li {
		padding: 1rem 1.5rem;
	}

	a {
		text-decoration: none;
		color: $light-color;
		text-transform: uppercase;
		border-bottom: 3px transparent solid;
		padding-bottom: 0.5rem;
		transition: border-color 0.5s ease-in-out;

		&:hover {
			border-color: $light-color;
		}

		&.current {
			border-color: $main-color;
		}
	}

	//!Logo

	a #logo {
		margin-top: 25px;
		width: 95px;
		height: 55px;
		border-bottom: none;
	}

	&.pagetop {
		background: transparent;
	}

	&.pagebottom {
		background-color: #3255b9;
	}

	.logo-link {
		border-bottom: none;
		border-color: transparent;
	}
}



// ! Countries Section

#countries-home {
	position: relative;
	height: 91vh;
	z-index: 1;
	// background-color: black;
	background: linear-gradient(135deg, rgba(255, 255, 255, 0.3) 100%, rgba(255, 255, 255, 0.6) 100%),
		url('../img/fuji.jpg') no-repeat center right / cover;

	.countries-heading {
		text-align: center;
		margin: 2rem 0;
		color: $secondary-color;

		h1 {
			text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
			position: relative;
			margin-top: 6rem;
			font-size: 4rem;
			bottom: 20px;
		}

		p {
			position: relative;
			color: $secondary-color;
			font-size: 1.4rem;
			bottom: 25px;
		}
	}

	.countries-section-end {
		position: absolute;
		background: transparent;
		bottom: -3rem;
		left: 50%;
		transform: translateX(-50%);

		font-size: 1.5rem;
		padding: 5rem 0;
		margin: 1rem 0;
		color: $light-color;
		text-transform: uppercase;
		text-align: center;

		h2 {
			text-transform: initial;
			color: white;
			text-shadow: -1px -1px 0 $secondary-color, 1px -1px 0 $secondary-color,
				-1px 1px 0 $secondary-color, 1px 1px 0 $secondary-color;
		}
	}

	svg {
		position: absolute;
		z-index: -10;
		opacity: 0.7;
	}
}

// ! Glowbox

@import 'glowbox';

// ! GALLERY

#gallery-home {
	position: relative;
	height: 81vh;
	background: url('../img/gallery/test-bg.jpg') no-repeat center right / cover;
	z-index: 5;
	padding-bottom: 6px;

	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;

	// Overlay --- temporarily removed during dev of flexbox
	// &::before {
	// 	content: '';
	// 	position: absolute;
	// 	top: 0;
	// 	left: 0;
	// 	width: 100%;
	// 	height: 100%;
	// 	background: rgba(255, 255, 255, 0.6);
	// }

	.container {
		flex: 20vh;

		h1 {
			text-align: center;
			margin: 2rem 0;
			color: $secondary-color;
			text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
			font-size: 4rem;
			bottom: 20px;
		}
	}

	.carousel {
		flex: 61vh;
	}
}

@import 'carousel';

@import 'anchor-jumper-helper';

footer {
	padding: 2rem 0;
	background: rgba(50, 85, 185, 1);
	// background: linear-gradient(135deg, rgba(83, 31, 255, 1) 0%, rgba(105, 74, 255, 1) 100%);
	text-align: center;
	color: $light-color;
}
