/* Global Styles */

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	scroll-behavior: smooth;
	font-family: 'Poppins', sans-serif;
	font-size: 10px;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

p {
	font-size: 1.6rem;
}

img {
	width: 100%;
	max-width: 100%;
	height: auto;
}

section {
	padding: 3.5rem 0;
}

/* Header */
header {
	width: 100%;
	height: 5rem;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}

/* #header.navbar-top {
	background: linear-gradient(turquoise 75.5%, purple 24.5%) no-repeat;
} */

.container {
	width: 100%;
	margin: 0 auto;
	padding: 0 1.5rem;
}

nav {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem 0;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.nav-brand {
	width: 8rem;
}

.menu-icons i {
	font-size: 3.5rem;
	color: #fafafa;
	cursor: pointer;
}

.close i {
	color: #eb648c;
}

.nav-list {
	width: 25rem;
	height: 100vh;
	background-color: #d7d4ed;
	position: fixed;
	top: 0;
	right: -26rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 1500;
	transition: all 250ms ease-in-out;
}

.nav-list.active {
	right: 0;
}

.close {
	position: absolute;
	top: 1rem;
	left: 1.5rem;
}

.nav-item {
	margin: 1.5rem 2rem;
}

.nav-link {
	font-size: 2.5rem;
	text-transform: uppercase;
	color: rgba(0, 0, 0, 0.7);
}

/* Hero */

.cover {
	width: 100%;
	height: 80vh;
	background: linear-gradient(135deg, rgba(49, 24, 131, 0.9) 0%, rgba(72, 56, 149, 0.8) 100%),
		url('img/travel\ cover.jpg') center no-repeat;
	background-size: cover;
	position: relative;
}

/* Wave */

.cover::before {
	content: '';
	position: absolute;
	left: 0;
	bottom: -3px;
	width: 100%;
	height: 4.7rem;
	background: url('img/waves/wave-small.png') center no-repeat;
	background-size: cover;
}

.main-message {
	width: 100%;
	max-width: 50rem;
	color: #fafafa;
	text-transform: uppercase;
	transform: translateY(20%);
}

.main-message h1 {
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	font-size: 5rem;
	text-align: left;
	margin: 1rem 0;
	letter-spacing: 3px;
}

.main-message p {
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	text-transform: none;
}

.btn {
	background-color: #eb648c;
	border-radius: 2rem;
	color: #fafafa;
	display: inline-block;
	margin-top: 2rem;
	padding: 1rem 2.5rem;
	text-transform: uppercase;
	transition: background-color 250ms;
}

.btn:hover {
	background-color: #ce587b;
}

/* Experience the outdoors */
/* Countries */

.countries-section {
	padding: 0;
}

.countries-section .container {
	max-width: 100%;
}

.title-heading {
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 4rem;
	color: rgba(0, 0, 0, 0.7);
}

.title-heading h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
	margin: 0.5rem 0 1rem;
}

.title-heading p {
	font-size: 2rem;
	text-transform: none;
}

.countries-section-end {
	font-family: 'Roboto', sans-serif;
	font-size: 2rem;
	margin: 0.5rem 0 1rem;
	text-align: center;
	text-transform: uppercase;
	color: rgba(0, 0, 0, 0.7);
}

/* GLOWBOX STYLING */

.glowbox-container {
	display: flex;
	position: relative;
	justify-content: space-around;
	flex-wrap: wrap;
	margin: 5rem 5rem;
}

.glowbox-image {
	width: 280px;
	height: 280px;
	object-fit: cover;
	position: absolute;
}

.box {
	position: relative;
	width: 300px;
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 90px;
	background: #060c21;
	transition: 0.5s;
}

.box:hover {
	height: 400px;
}

.box .imgBx {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 10px;
	box-sizing: border-box;
}

.box .imgBx img {
	max-width: 100%;
	opacity: 0.5;
	transition: 0.5s;
}

.box:hover .imgBx img {
	opacity: 1;
}

.box:before {
	content: '';
	position: absolute;
	top: -2px;
	left: -2px;
	right: -2px;
	bottom: -2px;
	background: #fff;
	z-index: -1;
}

.box:after {
	content: '';
	position: absolute;
	top: -2px;
	left: -2px;
	right: -2px;
	bottom: -2px;
	background: #fff;
	z-index: -2;
	filter: blur(40px);
}

.box:before,
.box:after {
	background: linear-gradient(235deg, #89ff00, #010615, #00bcd4);
}

.box:nth-child(2):before,
.box:nth-child(2):after {
	background: linear-gradient(235deg, #ff005e, #010615, #fbff00);
}

.box:nth-child(3):before,
.box:nth-child(3):after {
	background: linear-gradient(235deg, #772aff, #010615, #2196f3);
}

.box .content {
	position: absolute;
	bottom: 0;
	left: 10px;
	right: 10px;
	bottom: 10px;
	height: 90px;
	background: rgba(0, 0, 0, 0.4);
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	opacity: 0;
	transition: 0.5s;
}

.box:hover .content {
	opacity: 1;
	transition: 0.5s;
}

.box .content h2 {
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
	color: #fff;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 3px;
	text-transform: uppercase;
}

.box .content h2 span {
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	color: #fff;
	font-weight: 200;
	letter-spacing: 2px;
	text-transform: none;
}

/* Testimonials */
.testimonials {
	width: 100%;
	height: 65vh;
	background: linear-gradient(135deg, rgba(49, 24, 131, 0.9) 0%, rgba(72, 56, 149, 0.8) 100%),
		url('img/otherRef/testimonials-bg.jpg') center no-repeat fixed;
	background-size: cover;
	position: relative;
}

.testimonials::before {
	content: '';
	position: absolute;
	top: -3px;
	left: 0;
	width: 100%;
	height: 4.7rem;
	background: url('img/waves/wave-small-reversed.png') center no-repeat;
	background-size: cover;
}

.testimonial {
	width: 100%;
	color: #fafafa;
	position: absolute;
	top: 65%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	padding-top: 10rem;
}

.testimonial-text-box {
	padding: 0 1.5rem;
	margin-bottom: 2rem;
	position: relative;
}

.testimonial-text-box i {
	position: absolute;
	top: -15rem;
	left: 50%;
	transform: translateX(-50%);
	font-size: 12rem;
	color: #eb648c;
	opacity: 0.5;
	z-index: -1;
}

.testimonial-customer img {
	width: 15rem;
	height: 15rem;
	border-radius: 100%;
	border: 3px solid #eb648c;
}

.testimonial-customer p {
	position: absolute;
	top: -90rem;
}

/* Footer */

footer {
	padding: 2.5rem 0;
	background-color: #d7d4ed;
	text-align: center;
	color: rgba(0, 0, 0, 0.7);
}

/* Media Queries */
@media screen and (min-width: 350px) {
	.main-message {
		transform: translateY(40%);
	}
}

@media screen and (min-width: 470px) {
	.cover::before {
		height: 9.4rem;
		background: url('img/waves/wave-medium.png');
		background-size: cover;
	}

	.testimonials::before {
		height: 9.4rem;
		background: url('img/waves/wave-medium-reversed.png');
		background-size: cover;
	}
}

@media screen and (min-width: 700px) {
	header {
		height: 8rem;
	}

	.nav-brand {
		width: 10rem;
	}

	.nav-list {
		width: initial;
		height: initial;
		background-color: transparent;
		position: initial;
		top: initial;
		right: initial;
		flex-direction: row;
		transition: initial;
	}

	.menu-icons {
		display: none;
	}

	.nav-item {
		margin: 0 2.5rem;
	}

	.nav-link,
	.current {
		color: #fafafa;
		position: relative;
		font-size: 1.3rem;
	}

	.nav-link::before,
	.current::before {
		content: '';
		position: absolute;
		left: 0;
		bottom: -0.5rem;
		background-color: #eb648c;
		width: 100%;
		height: 2px;
		transform: scaleX(0);
		transform-origin: left;
		transition: transform 550ms;
	}

	.current::before {
		transform: scaleX(1);
	}

	.nav-link:hover::before {
		transform: scaleX(1);
	}

	.cover {
		height: 60vh;
	}

	.main-message {
		transform: translateY(70%);
	}

	.title-heading h1 {
		font-size: 2.5rem;
	}
}

@media screen and (min-width: 950px) {
	.cover {
		height: 80vh;
	}

	.cover::before {
		height: 22.7rem;
		background: url('img/waves/wave-large.png');
		background-size: cover;
	}

	.testimonials::before {
		height: 22.7rem;
		background: url('img/waves/wave-large-reversed.png');
		background-size: cover;
	}

	.main-message {
		transform: translateY(50%);
	}
}

@media screen and (min-width: 1200px) {
	.cover {
		height: 90vh;
	}

	.main-message {
		transform: translateY(120%);
	}
}
